{
  "openapi": "3.0.0",
  "info": {
    "title": "Qumis Documentation API",
    "version": "1.0.0",
    "description": "AI-powered insurance documentation and knowledge base for Qumis platform. Access comprehensive guides, workflows, and technical documentation for insurance professionals.",
    "contact": {
      "name": "Qumis Support",
      "email": "support@qumis.ai",
      "url": "https://www.qumis.ai"
    }
  },
  "servers": [
    {
      "url": "https://docs.qumis.ai",
      "description": "Qumis Documentation Production"
    }
  ],
  "x-mint": {
    "mcp": {
      "enabled": true
    }
  },
  "paths": {
    "/features/chats": {
      "get": {
        "summary": "Get Chat Features Documentation",
        "description": "Retrieve documentation about Qumis chat functionality, including how to interact with AI, manage conversations, and leverage chat-based workflows.",
        "operationId": "getChatFeatures",
        "tags": [
          "Features"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Chat Features",
            "description": "Access documentation for Qumis AI chat capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Chat features documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/features/document-vault": {
      "get": {
        "summary": "Get Document Vault Documentation",
        "description": "Access documentation for the Qumis Document Vault feature, including upload, organization, and AI-powered document analysis.",
        "operationId": "getDocumentVault",
        "tags": [
          "Features"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Document Vault Features",
            "description": "Learn about document management and vault capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Document vault documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/features/legal-search": {
      "get": {
        "summary": "Get Legal Search Documentation",
        "description": "Documentation for Qumis legal search capabilities, including case law research and legal precedent discovery.",
        "operationId": "getLegalSearch",
        "tags": [
          "Features"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Legal Search Features",
            "description": "Access legal search and research documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Legal search documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/features/prompt-library": {
      "get": {
        "summary": "Get Prompt Library Documentation",
        "description": "Learn about the Qumis prompt library for pre-built AI prompts tailored to insurance workflows.",
        "operationId": "getPromptLibrary",
        "tags": [
          "Features"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Prompt Library",
            "description": "Access prompt library documentation and templates"
          }
        },
        "responses": {
          "200": {
            "description": "Prompt library documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/features/reports": {
      "get": {
        "summary": "Get Reports Features Documentation",
        "description": "Documentation for Qumis reporting capabilities, including claims reports, policy analysis, and custom report generation.",
        "operationId": "getReports",
        "tags": [
          "Features"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Reports Features",
            "description": "Learn about AI-powered reporting capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Reports documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/claims": {
      "get": {
        "summary": "Get Claims Reports Documentation",
        "description": "Detailed documentation for claims report generation and analysis.",
        "operationId": "getClaimsReports",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Claims Reports Guide",
            "description": "Access claims reporting documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Claims reports documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/policy-analysis": {
      "get": {
        "summary": "Get Policy Analysis Documentation",
        "description": "Documentation for AI-powered policy analysis and comparison tools.",
        "operationId": "getPolicyAnalysis",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Policy Analysis Guide",
            "description": "Learn about policy analysis capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Policy analysis documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/comparisons": {
      "get": {
        "summary": "Get Comparisons Documentation",
        "description": "Documentation for AI-powered comparison reports and analysis tools.",
        "operationId": "getComparisons",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Comparisons Guide",
            "description": "Learn about comparison report capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Comparisons documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/contract-review": {
      "get": {
        "summary": "Get Contract Review Documentation",
        "description": "Documentation for AI-powered contract review and analysis.",
        "operationId": "getContractReview",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Contract Review Guide",
            "description": "Access contract review documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Contract review documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/coverage-table": {
      "get": {
        "summary": "Get Coverage Table Documentation",
        "description": "Documentation for creating and analyzing coverage tables.",
        "operationId": "getCoverageTable",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Coverage Table Guide",
            "description": "Learn about coverage table generation"
          }
        },
        "responses": {
          "200": {
            "description": "Coverage table documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/reports/custom-reports": {
      "get": {
        "summary": "Get Custom Reports Documentation",
        "description": "Documentation for creating custom AI-powered reports.",
        "operationId": "getCustomReports",
        "tags": [
          "Reports"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Custom Reports Guide",
            "description": "Learn about custom report creation"
          }
        },
        "responses": {
          "200": {
            "description": "Custom reports documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/playbooks/for-brokers": {
      "get": {
        "summary": "Get Broker Playbook",
        "description": "Role-specific playbook for insurance brokers using Qumis AI.",
        "operationId": "getBrokerPlaybook",
        "tags": [
          "Playbooks"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Broker Playbook",
            "description": "Access broker-specific workflows and best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Broker playbook documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/playbooks/for-claims-professionals": {
      "get": {
        "summary": "Get Claims Professional Playbook",
        "description": "Role-specific playbook for claims professionals using Qumis AI.",
        "operationId": "getClaimsPlaybook",
        "tags": [
          "Playbooks"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Claims Professional Playbook",
            "description": "Access claims-specific workflows and best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Claims professional playbook documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/playbooks/for-account-managers": {
      "get": {
        "summary": "Get Account Manager Playbook",
        "description": "Role-specific playbook for account managers using Qumis AI.",
        "operationId": "getAccountManagerPlaybook",
        "tags": [
          "Playbooks"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Account Manager Playbook",
            "description": "Access account manager workflows and best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Account manager playbook documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/playbooks/for-producers": {
      "get": {
        "summary": "Get Producer Playbook",
        "description": "Role-specific playbook for insurance producers using Qumis AI.",
        "operationId": "getProducerPlaybook",
        "tags": [
          "Playbooks"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Producer Playbook",
            "description": "Access producer-specific workflows and best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Producer playbook documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/playbooks/for-service-teams": {
      "get": {
        "summary": "Get Service Team Playbook",
        "description": "Role-specific playbook for service teams using Qumis AI.",
        "operationId": "getServiceTeamPlaybook",
        "tags": [
          "Playbooks"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Service Team Playbook",
            "description": "Access service team workflows and best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Service team playbook documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/foundations-for-success/implementing-ai": {
      "get": {
        "summary": "Get AI Implementation Guide",
        "description": "Comprehensive guide for implementing AI in insurance organizations.",
        "operationId": "getImplementingAI",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get AI Implementation Guide",
            "description": "Learn how to implement AI in insurance workflows"
          }
        },
        "responses": {
          "200": {
            "description": "AI implementation documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/foundations-for-success/identifying-use-cases": {
      "get": {
        "summary": "Get Use Case Identification Guide",
        "description": "Guide for identifying and prioritizing AI use cases in insurance operations.",
        "operationId": "getIdentifyingUseCases",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Use Case Identification Guide",
            "description": "Learn how to identify AI use cases"
          }
        },
        "responses": {
          "200": {
            "description": "Use case identification documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/foundations-for-success/change-management": {
      "get": {
        "summary": "Get Change Management Guide",
        "description": "Guide for managing organizational change when implementing AI solutions.",
        "operationId": "getChangeManagement",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Change Management Guide",
            "description": "Learn change management best practices"
          }
        },
        "responses": {
          "200": {
            "description": "Change management documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/foundations-for-success/change-management-toolkit": {
      "get": {
        "summary": "Get Change Management Toolkit",
        "description": "Practical toolkit and templates for managing organizational change.",
        "operationId": "getChangeManagementToolkit",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Change Management Toolkit",
            "description": "Access change management tools and templates"
          }
        },
        "responses": {
          "200": {
            "description": "Change management toolkit documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/setup-and-access/single-sign-on": {
      "get": {
        "summary": "Get SSO Setup Guide",
        "description": "Documentation for configuring Single Sign-On for Qumis platform.",
        "operationId": "getSSOSetup",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get SSO Setup Guide",
            "description": "Configure Single Sign-On authentication"
          }
        },
        "responses": {
          "200": {
            "description": "SSO setup documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/setup-and-access/navigating-the-dashboard": {
      "get": {
        "summary": "Get Dashboard Navigation Guide",
        "description": "Learn how to navigate and use the Qumis dashboard effectively.",
        "operationId": "getNavigatingDashboard",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Dashboard Navigation Guide",
            "description": "Learn to navigate the Qumis dashboard"
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard navigation documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/get-started/setup-and-access/inviting-users": {
      "get": {
        "summary": "Get User Invitation Guide",
        "description": "Learn how to invite and manage users in the Qumis platform.",
        "operationId": "getInvitingUsers",
        "tags": [
          "Get Started"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get User Invitation Guide",
            "description": "Learn to invite and manage users"
          }
        },
        "responses": {
          "200": {
            "description": "User invitation documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/deployment/production-deployment": {
      "get": {
        "summary": "Get Production Deployment Guide",
        "description": "Internal documentation for production deployment procedures and best practices.",
        "operationId": "getProductionDeployment",
        "tags": [
          "Internal - Engineering"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Production Deployment Guide",
            "description": "Access internal deployment procedures"
          }
        },
        "responses": {
          "200": {
            "description": "Production deployment documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/infrastructure/aws-environments": {
      "get": {
        "summary": "Get AWS Infrastructure Guide",
        "description": "Internal documentation for AWS environment configuration and management.",
        "operationId": "getAWSEnvironments",
        "tags": [
          "Internal - Infrastructure"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get AWS Infrastructure Guide",
            "description": "Access AWS infrastructure documentation"
          }
        },
        "responses": {
          "200": {
            "description": "AWS infrastructure documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/infrastructure/cloudwatch-monitoring": {
      "get": {
        "summary": "Get CloudWatch Monitoring Guide",
        "description": "Internal documentation for CloudWatch monitoring setup and configuration.",
        "operationId": "getCloudWatchMonitoring",
        "tags": [
          "Internal - Infrastructure"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get CloudWatch Monitoring Guide",
            "description": "Access CloudWatch monitoring documentation"
          }
        },
        "responses": {
          "200": {
            "description": "CloudWatch monitoring documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/infrastructure/cloudwatch-alerts": {
      "get": {
        "summary": "Get CloudWatch Alerts Guide",
        "description": "Internal documentation for CloudWatch alerts configuration and management.",
        "operationId": "getCloudWatchAlerts",
        "tags": [
          "Internal - Infrastructure"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get CloudWatch Alerts Guide",
            "description": "Access CloudWatch alerts documentation"
          }
        },
        "responses": {
          "200": {
            "description": "CloudWatch alerts documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/troubleshooting/common-issues": {
      "get": {
        "summary": "Get Common Issues Troubleshooting Guide",
        "description": "Internal documentation for troubleshooting common engineering issues.",
        "operationId": "getCommonIssues",
        "tags": [
          "Internal - Troubleshooting"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Common Issues Guide",
            "description": "Access common issues troubleshooting documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Common issues documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/troubleshooting/debugging-production": {
      "get": {
        "summary": "Get Production Debugging Guide",
        "description": "Internal documentation for debugging production issues and incidents.",
        "operationId": "getDebuggingProduction",
        "tags": [
          "Internal - Troubleshooting"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Production Debugging Guide",
            "description": "Access production debugging documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Production debugging documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/resources/contact-support": {
      "get": {
        "summary": "Get Contact Support Guide",
        "description": "Information on how to contact Qumis support for assistance.",
        "operationId": "getContactSupport",
        "tags": [
          "Resources"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Contact Support Guide",
            "description": "Learn how to contact Qumis support"
          }
        },
        "responses": {
          "200": {
            "description": "Contact support documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/resources/product-updates-and-release-notes": {
      "get": {
        "summary": "Get Product Updates and Release Notes",
        "description": "Latest product updates, new features, and release notes for the Qumis platform.",
        "operationId": "getProductUpdates",
        "tags": [
          "Resources"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Product Updates",
            "description": "Access product updates and release notes"
          }
        },
        "responses": {
          "200": {
            "description": "Product updates documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/resources/troubleshooting-and-faqs": {
      "get": {
        "summary": "Get Troubleshooting and FAQs",
        "description": "Common troubleshooting steps and frequently asked questions about the Qumis platform.",
        "operationId": "getTroubleshootingFAQs",
        "tags": [
          "Resources"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Troubleshooting and FAQs",
            "description": "Access troubleshooting guides and FAQs"
          }
        },
        "responses": {
          "200": {
            "description": "Troubleshooting and FAQs documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/index": {
      "get": {
        "summary": "Get Internal Documentation Overview",
        "description": "Overview of internal Qumis documentation for engineering and operations teams.",
        "operationId": "getInternalOverview",
        "tags": [
          "Internal - Overview"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Internal Documentation Overview",
            "description": "Access internal documentation overview"
          }
        },
        "responses": {
          "200": {
            "description": "Internal documentation overview",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/documentation/writing-style-guide": {
      "get": {
        "summary": "Get Documentation Writing Style Guide",
        "description": "Internal style guide for writing Qumis documentation with consistent voice and formatting.",
        "operationId": "getWritingStyleGuide",
        "tags": [
          "Internal - Documentation"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Writing Style Guide",
            "description": "Access documentation writing standards"
          }
        },
        "responses": {
          "200": {
            "description": "Writing style guide documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/documentation/prompt-library": {
      "get": {
        "summary": "Get Documentation Prompt Library",
        "description": "Internal library of AI prompts for creating and maintaining Qumis documentation.",
        "operationId": "getDocumentationPromptLibrary",
        "tags": [
          "Internal - Documentation"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Documentation Prompt Library",
            "description": "Access documentation AI prompts"
          }
        },
        "responses": {
          "200": {
            "description": "Documentation prompt library",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/documentation/markdown-export": {
      "get": {
        "summary": "Get Markdown Export Guide",
        "description": "Internal guide for exporting Qumis documentation to markdown format.",
        "operationId": "getMarkdownExport",
        "tags": [
          "Internal - Documentation"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Markdown Export Guide",
            "description": "Learn about markdown export capabilities"
          }
        },
        "responses": {
          "200": {
            "description": "Markdown export documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/index": {
      "get": {
        "summary": "Get Engineering Documentation Overview",
        "description": "Overview of internal engineering documentation, tools, and procedures.",
        "operationId": "getEngineeringOverview",
        "tags": [
          "Internal - Engineering"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Engineering Overview",
            "description": "Access engineering documentation overview"
          }
        },
        "responses": {
          "200": {
            "description": "Engineering documentation overview",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/onboarding": {
      "get": {
        "summary": "Get Engineering Onboarding Guide",
        "description": "Internal onboarding guide for new engineering team members.",
        "operationId": "getEngineeringOnboarding",
        "tags": [
          "Internal - Engineering"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Engineering Onboarding",
            "description": "Access engineering onboarding documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Engineering onboarding documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/tools-setup": {
      "get": {
        "summary": "Get Engineering Tools Setup Guide",
        "description": "Internal guide for setting up development tools and environment.",
        "operationId": "getToolsSetup",
        "tags": [
          "Internal - Engineering"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Tools Setup Guide",
            "description": "Access development tools setup documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Tools setup documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/guides/git-branching-strategies": {
      "get": {
        "summary": "Get Git Branching Strategies Guide",
        "description": "Internal guide for Git workflow and branching strategies used at Qumis.",
        "operationId": "getGitBranchingStrategies",
        "tags": [
          "Internal - Engineering"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Git Branching Strategies",
            "description": "Access Git workflow documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Git branching strategies documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/deployment/deployment-cheatsheet": {
      "get": {
        "summary": "Get Deployment Cheatsheet",
        "description": "Internal quick reference guide for common deployment commands and procedures.",
        "operationId": "getDeploymentCheatsheet",
        "tags": [
          "Internal - Deployment"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Deployment Cheatsheet",
            "description": "Access deployment quick reference"
          }
        },
        "responses": {
          "200": {
            "description": "Deployment cheatsheet documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/deployment/deployment-checklist": {
      "get": {
        "summary": "Get Deployment Checklist",
        "description": "Internal comprehensive checklist for pre-deployment validation.",
        "operationId": "getDeploymentChecklist",
        "tags": [
          "Internal - Deployment"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Deployment Checklist",
            "description": "Access deployment checklist"
          }
        },
        "responses": {
          "200": {
            "description": "Deployment checklist documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/deployment/post-deployment-validation": {
      "get": {
        "summary": "Get Post-Deployment Validation Guide",
        "description": "Internal guide for validating deployments and verifying system health.",
        "operationId": "getPostDeploymentValidation",
        "tags": [
          "Internal - Deployment"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Post-Deployment Validation",
            "description": "Access post-deployment validation procedures"
          }
        },
        "responses": {
          "200": {
            "description": "Post-deployment validation documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/deployment/rollback-procedures": {
      "get": {
        "summary": "Get Rollback Procedures Guide",
        "description": "Internal guide for rolling back deployments in case of issues.",
        "operationId": "getRollbackProcedures",
        "tags": [
          "Internal - Deployment"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Rollback Procedures",
            "description": "Access deployment rollback procedures"
          }
        },
        "responses": {
          "200": {
            "description": "Rollback procedures documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/operations/qumis-cli-reference": {
      "get": {
        "summary": "Get Qumis CLI Reference",
        "description": "Internal reference documentation for the Qumis command-line interface tool.",
        "operationId": "getQumisCLIReference",
        "tags": [
          "Internal - Operations"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Qumis CLI Reference",
            "description": "Access Qumis CLI documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Qumis CLI reference documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/operations/rails-commands": {
      "get": {
        "summary": "Get Rails Commands Reference",
        "description": "Internal reference for common Rails commands and operations.",
        "operationId": "getRailsCommands",
        "tags": [
          "Internal - Operations"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Rails Commands Reference",
            "description": "Access Rails commands documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Rails commands reference documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/internal/engineering/operations/visual-regression-testing": {
      "get": {
        "summary": "Get Visual Regression Testing Guide",
        "description": "Internal guide for running and maintaining visual regression tests.",
        "operationId": "getVisualRegressionTesting",
        "tags": [
          "Internal - Operations"
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "Get Visual Regression Testing Guide",
            "description": "Access visual regression testing documentation"
          }
        },
        "responses": {
          "200": {
            "description": "Visual regression testing documentation",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Features",
      "description": "Core Qumis platform features and capabilities"
    },
    {
      "name": "Reports",
      "description": "AI-powered reporting and analysis tools"
    },
    {
      "name": "Playbooks",
      "description": "Role-specific guides and workflows for insurance professionals"
    },
    {
      "name": "Get Started",
      "description": "Onboarding and setup documentation"
    },
    {
      "name": "Resources",
      "description": "Support resources, FAQs, and product updates"
    },
    {
      "name": "Internal - Overview",
      "description": "Internal documentation overview and navigation"
    },
    {
      "name": "Internal - Documentation",
      "description": "Internal documentation standards and guidelines"
    },
    {
      "name": "Internal - Engineering",
      "description": "Internal engineering documentation and procedures"
    },
    {
      "name": "Internal - Deployment",
      "description": "Internal deployment guides, checklists, and procedures"
    },
    {
      "name": "Internal - Operations",
      "description": "Internal operations and CLI reference documentation"
    },
    {
      "name": "Internal - Infrastructure",
      "description": "Internal infrastructure and operations documentation"
    },
    {
      "name": "Internal - Troubleshooting",
      "description": "Internal troubleshooting guides and debugging procedures"
    }
  ]
}
