#navbar {}

/* Set --background-light to a #F1F0ED color */
:root {
  --background-light: #F1F0ED;
  --background-dark: #333;
}

footer {}

/* Set the background color of the body to --background-light if dark mode is not enabled */
html:not([style='color-scheme: dark;']) body {
  background-color: var(--background-light);
}

/* Set the background color of the body to --background-dark if dark mode is enabled */
html[style='color-scheme: dark;'] body {
  background-color: var(--background-dark);
}


img.nav-logo {
  height: 20px;
  width: auto;
}
